/* Global Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
    background-color: #f9f9f9;
}

a {
    text-decoration: none;
    color: #0078ff;
}

/* Navbar */
nav {
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
}

nav a {
    color: #fff;
    margin: 0 1rem;
}

/* Hero Section */
.hero {
    background-color: #0078ff;
    color: #fff;
    text-align: center;
    padding: 4rem 2rem;
}

.hero h1 {
    font-size: 3rem;
    margin: 0;
}

/* Profile Picture */
.profile-pic {
    width: 100px;
    height: 100px;
    border-radius: 15%;
    object-fit: cover;
    margin-top: 1rem;
    border: 3px solid #fff;
}

/* Section Styles */
section {
    padding: 2rem;
}

.section-title {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.experience, .projects {
    margin-bottom: 2rem;
}

.project-card, .exp-card {
    background-color: #fff;
    padding: 1.5rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 1rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.number{
    color: #0078ff;
}

/* Footer */
footer {
    text-align: center;
    padding: 1rem;
    background-color: #333;
    color: #fff;
}
